# Ignore all hidden files & folders except gitignore & kitchen
.*
!/.gitignore
!/.kitchen*.yml
!/.rubocop.yml
!/.foodcritic
!/.rspec.yml
!/.drone.yml

# Berkshelf
Berksfile.lock
/cookbooks

# Bundler
bin/
Gemfile.lock

# Chef
metadata.json
tmp/

# Editors
*~
*#
\#*#
*.sublime-project
*.sublime-workspace
*.un~

# Test Kitchen
.kitchen/
.kitchen.local.yml
.kitchen.cloud.yml
